<footer>
<div class="row col-12">
    <div class="col-4">
        Derechos Reservados
    </div>
    <div class="col-4">
        Inversiones Sisterag 2008, C. A.
    </div>
    <div class="col-4">
        Caracas - Venezuela.
    </div>
    <div class="col-4">
        <a href="mailto:robgutgom@gmail.com" target="_blank">GMAIL</a>
    </div>
    <div class="col-4">
        <a href="mailto:robgutgom@hotmail.com" target="_blank">HOTMAIL</a>
    </div>
    <div class="col-4">
        <a href="https://www.facebook.com/robguter/" target="_blank">FACEBOOK</a>
    </div>
</div>
</footer>